<!DOCTYPE html>
<html>

<head>
    <title>Dashboard de eventos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            table-layout: auto;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        th,
        td {
            padding: 8px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>View information</h1>

        <form method="POST" action="/dashboard">
            <label for="selected_id_evento">Select Event ID:</label>
            <select name="selected_id_evento" id="selected_id_evento">
                <option value="">All</option>
                {% for id_evento in id_evento_values %}
                <option value="{{ id_evento }}">{{ id_evento }}</option>
                {% endfor %}
            </select>
            <button type="submit">Apply Filter</button>
        </form>

        <div class="row">
            <div class="col-md-6">
                <img src="data:image/png;base64,{{ plot1_base64 }}" class="img-fluid" alt="Resulados confirmaciones">
            </div>
            <div class="col-md-6">
                <img src="data:image/png;base64,{{ plot2_base64 }}" class="img-fluid" alt="Answer 2 Value Sums">
            </div>
        </div>

        <!-- Data List -->
        <table id="data-table">
            <thead>
                <tr>
                    <th data-name="ID Evento">ID Evento</th>
                    <th data-name="SID">SID</th>
                    <th data-name="Nombre">Nombre</th>
                    <th data-name="Teléfono">Teléfono</th>
                    <th data-name="Número de invitados">Número de invitados</th>
                    <th data-name="Confirma">Confirma</th>
                    <th data-name="Invitados confirmados">Invitados confirmados</th>
                    <th data-name="Restricciones alimentarias">Restricciones alimentarias</th>
                    <th data-name="Menús y restricciones">Menús y restricciones</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <label for="filterColumnIDEvento">Filter by ID Evento:</label>
            <input type="text" id="filterColumnIDEvento" onkeyup="filterTable('ID Evento')"
                placeholder="Filter by ID Evento">
        </div>
        <div>
            <label for="filterColumnSID">Filter by SID:</label>
            <input type="text" id="filterColumnSID" onkeyup="filterTable('SID')" placeholder="Filter by SID">
        </div>
        <div>
            <label for="filterColumnNombre">Filter by Nombre:</label>
            <input type="text" id="filterColumnNombre" onkeyup="filterTable('Nombre')" placeholder="Filter by Nombre">
        </div>
        <!-- Add filter inputs for other columns -->
        <script>
            // JavaScript function to filter the table
            function filterTable(columnName) {
                var inputElement = document.getElementById('filterColumn' + columnName);
                var filterValue = inputElement.value.toUpperCase();
                var table = document.getElementById('data-table');
                var rows = table.getElementsByTagName('tr');

                var columnIndex = -1;
                var headerRow = table.getElementsByTagName('thead')[0].getElementsByTagName('tr')[0];
                var headerCells = headerRow.getElementsByTagName('th');
                for (var i = 0; i < headerCells.length; i++) {
                    if (headerCells[i].getAttribute('data-name') === columnName) {
                        columnIndex = i;
                        break;
                    }
                }

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    if (cells && columnIndex >= 0) {
                        var cellText = cells[columnIndex].textContent || cells[columnIndex].innerText;
                        if (cellText.toUpperCase().indexOf(filterValue) > -1) {
                            rows[i].style.display = '';
                        } else {
                            rows[i].style.display = 'none';
                        }
                    }
                }
            }

        </script>
    </div>
</body>

</html>