<!DOCTYPE html>
<html>

<head>
    <title>Dashboard de eventos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            table-layout: auto;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        th,
        td {
            padding: 8px;
        }

        .auto-width {
            width: auto;
        }

        /* Center the table */
        .table-container {
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Dashboard de eventos</h1>

        <form method="POST" action="/dashboard">
            <label for="selected_id_evento">Selecciona el ID del evento:</label>
            <select name="selected_id_evento" id="selected_id_evento">
                <option value="">Todos</option>
                {% for id_evento in id_evento_values %}
                <option value="{{ id_evento }}">{{ id_evento }}</option>
                {% endfor %}
            </select>
            <button type="submit">Aplicar filtro</button>
        </form>

        <div class="row">
            <div class="col-md-6">
                <img src="data:image/png;base64,{{ plot1_base64 }}" class="img-fluid" alt="Resulados confirmaciones">
            </div>
            <div class="col-md-6">
                <img src="data:image/png;base64,{{ plot2_base64 }}" class="img-fluid" alt="Answer 2 Value Sums">
            </div>
        </div>

        <!-- Centered table -->
        <div class="table-container">
            <table id="data-table">
                <thead>
                    <tr>
                        <th data-name="ID Evento" class="auto-width">
                            ID Evento
                        </th>
                        <th data-name="SID" class="auto-width">
                            SID
                        </th>
                        <th data-name="Nombre" class="auto-width">
                            Nombre
                        </th>
                        <th data-name="Teléfono" class="auto-width">
                            Teléfono
                        </th>
                        <th data-name="Número de invitados" class="auto-width">
                            Número de invitados
                        </th>
                        <th data-name="Confirma" class="auto-width">
                            Confirma
                        </th>
                        <th data-name="Invitados confirmados" class="auto-width">
                            Invitados confirmados
                        </th>
                        <th data-name="Restricciones alimentarias" class="auto-width">
                            Restricciones alimentarias
                        </th>
                        <th data-name="Menús y restricciones" class="auto-width">
                            Menús y restricciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script>
                // Dynamically adjust column widths based on column name length
                window.addEventListener('load', function () {
                    const table = document.getElementById('data-table');
                    const headerRow = table.querySelector('thead tr');
                    const headerCells = headerRow.querySelectorAll('th.auto-width');

                    headerCells.forEach((cell) => {
                        const columnName = cell.textContent.trim();
                        const textWidth = columnName.length * 8; // Adjust the multiplier for the desired width

                        cell.style.minWidth = textWidth + 'px';
                    });
                });
            </script>

        </div>
    </div>
</body>

</html>