<!DOCTYPE html>
<html>

<head>
    <title>Demo Sin Boleto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header><br><br></header>

<body>
    <div class="container">

        <!-- <br>

        <div>
            <img alt="sin boleto logo" src="\Imago_Degradado.png">
        </div> -->

        <br>

        <div>
            <h1>¡Hola! Bienvenid@ al demo del chatbot de <b><span style="color: #9524D6">Sin Boleto</span></b></h1>

            <br>

            <h4><b>Para recibir un demo por favor proporcionanos la siguiente información:</b></h4>
        </div>

        <form method="GET" action="/process_demo" enctype="multipart/form-data" onsubmit="showPopup()">

            <label for="nom_invitado_demo">Nombre completo:</label>
            <input type="text" name="nom_invitado_demo" id="nom_invitado_demo" required>

            <br><br>

            <label for="telefono_invitado_demo">Teléfono (10 dígitos):</label>
            <input type="text" name="telefono_invitado_demo" id="telefono_invitado_demo" required>

            <br><br>

            <button type="submit">Mandar demo</button>

        </form>

        <br><br>

        <div>
            <h4 style="color: #9524D6">En breve recibirás una invitación. <b>Gracias por tu confianza</b></h4>
            <p><b>Para más información sobre el chatbot, da click <a href="http://www.sinboleto.com.mx">aquí</a></b></p>
            <br>
            <p><b>Para ver quien a confirmado en vivo, da click <a
                        href="https://confirmacion-app-ffd9bb8202ec.herokuapp.com/dashboard_eventos/DEMO">aquí</a></b>
            </p>
        </div>

    </div>

    <script>
        function showPopup() {
            alert("En 3 segundos te llegará tu confirmación por WhatsApp");
        }
    </script>

</body>

<footer><br><br></footer>

</html>