<!DOCTYPE html>
<html>

<head>
    <title>Demo Sin Boleto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<header><br></header>

<body>
    <div class="container">

        <br>

        <div>
            <img alt=" sin boleto logo"
                src="https://github.com/sinboleto/confirmacion/blob/66047e19f43f092f7fb8787230811460f8f106bf/files/Imago_Degradado.png">
        </div>

        <br>

        <div>
            <h1>¡Hola! Bienvenid@ al demo del Chatbot de Sin Boleto</h1>
            <p>Para recibir un demo por favor proporcionanos la siguiente información:</p>
        </div>

        <br>

        <form method="GET" action="/process_demo" enctype="multipart/form-data">

            <div>
                <label for="nom_invitado_demo">Nombre completo:</label>
                <input type="text" name="nom_invitado_demo" id="nom_invitado_demo" required>

                <br>

                <label for="telefono_invitado_demo">Teléfono (10 dígitos):</label>
                <input type="text" name="telefono_invitado_demo" id="telefono_invitado_demo" required>

                <br>

                <button type="submit">Mandar demo</button>
            </div>

        </form>

        <br>

        <h3 style="color: #9524D6">En breve recibirás una invitación. <b>Gracias por tu confianza</b></h2>

    </div>

</body>

<footer><br><br></footer>

</html>