<!DOCTYPE html>
<html>

<head>
    <title>Event Information Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <form action="/store_event_info" method="post">
        <label for="organizer">Organizer:</label>
        <input type="text" id="organizer" name="organizer"><br><br>

        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name"><br><br>

        <label for="event_day">Day:</label>
        <input type="date" id="event_day" name="event_day"><br><br>

        <label for="event_place">Place:</label>
        <input type="text" id="event_place" name="event_place"><br><br>

        <label for="event_time">Time:</label>
        <input type="time" id="event_time" name="event_time"><br><br>

        <label for="event_venue">Venue:</label>
        <input type="text" id="event_venue" name="event_venue"><br><br>

        <label for="event_address">Address:</label>
        <input type="text" id="event_address" name="event_address"><br><br>

        <label for=address_link">Address link:</label>
        <input type="text" id=address_link" name="address_link"><br><br>

        <label for="contact_link">Contact link:</label>
        <input type="text" id="contact_link" name="contact_link"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>