<!DOCTYPE html>
<html>
<head>
    <title>Information Form</title>
</head>
<body>
    <h1>Information Form</h1>
    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <!-- <hr>
    <h2>Stored Information:</h2>
    <ul>
        {% for info in infos %}
            <li>{{ info.name }} - {{ info.email }}</li>
        {% endfor %}
    </ul> -->
    <form action="/export" method="POST">
        <input type="submit" value="Export to CSV">
    </form>
</body>
</html>
