<!DOCTYPE html>
<html>

<head>
    <title>Plantillas de mensajes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header><br></header>

<body>
    <div class="container">
        <h1>Plantillas de mensajes</h1>

        <br>

        <form method="POST" action="/inputs" id="myForm">
            <label for="input_1">Nombre del invitado (ejemplo):</label>
            <input type="text" id="input_1" name="nom_invitado_input"><br><br>

            <label for="input_2">Número de boletos (ejemplo):</label>
            <input type="number" id="input_2" name="boletos_input"><br><br>

            <label for="input_3">Nombre de la novia:</label>
            <input type="text" id="input_3" name="nom_novia_input"><br><br>

            <label for="input_4">Nombre de la novia:</label>
            <input type="text" id="input_4" name="nom_novio_input"><br><br>

            <label for="input_5">Fecha del evento:</label>
            <input type="text" id="input_5" name="fecha_evento_input"><br><br>

            <label for="input_6">Hora de inicio:</label>
            <input type="text" id="input_6" name="hora_inicio_input"><br><br>

            <label for="input_7">Lugar del evento:</label>
            <input type="text" id="input_7" name="lugar_evento_input"><br><br>

            <label for="input_8">Lugar de la ceremonia:</label>
            <input type="text" id="input_8" name="lugar_ceremonia_input"><br><br>

            <label for="input_9">Código de vestimenta:</label>
            <input type="text" id="input_9" name="codigo_vestimenta_input"><br><br>

            <label for="input_10">Link mesa regalos:</label>
            <input type="text" id="input_10" name="link_mesa_regalos_input"><br><br>

            <label for="input_11">Link soporte:</label>
            <input type="text" id="input_11" name="link_soporte_input"><br><br>

            <input type="radio" id="msg_conf" name="message_type" value="msg_conf" checked>
            <label for="msg_conf">Confirmación asistencia</label><br>

            <input type="radio" id="msg_conf_num" name="message_type" value="msg_conf_num">
            <label for="msg_conf_num">Confirmación número de invitados</label><br>

            <input type="radio" id="msg_info_general" name="message_type" value="msg_info_general">
            <label for="msg_info_general">Información general</label><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="messageContainer"></div>

    <br>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('myForm');
            const messageContainer = document.getElementById('messageContainer');

            form.addEventListener('input', function () {
                // event.preventDefault(); // Prevent form submission

                const formData = new FormData(form);
                const values = Object.fromEntries(formData.entries());

                fetch('/inputs', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.text())
                    .then(data => {
                        messageContainer.innerHTML = data;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('myForm');
            const messageContainer = document.getElementById('messageContainer');

            form.addEventListener('input', function () {
                const formData = new FormData(form);
                const values = Object.fromEntries(formData.entries());

                const message = getMessage(values);
                messageContainer.innerHTML = message;
            });

            function getMessage(values) {
                let message = '';

                // Accessing the message text from the 'messages' variable
                if (values.message_type === 'msg_conf') {
                    message = `${messages.msg_conf}`;
                } else if (values.message_type === 'msg_conf_num') {
                    message = `${messages.msg_conf_num}`;
                } else if (values.message_type === 'msg_info_general') {
                    message = `${messages.msg_info_general}`;
                } else {
                    message = `No message selected`;
                }

                // Replace placeholders in the message with actual values from 'values'
                message = message.replace(/\{([^}]+)\}/g, function (match, key) {
                    return values[key.trim()] || '';
                });

                return `<p>${message}</p>`;
            }
        });
    </script> -->

</body>

<footer><br><br></footer>

</html>