<!DOCTYPE html>
<html>

<head>
    <title>Input Form</title>
</head>

<body>
    <form method="POST" action="/inputs">
        <label for="nom_invitado_input">Nombre del invitado (ejemplo):</label>
        <input type="text" id="input_1" name="nom_invitado_input"><br><br>

        <label for="boletos_input">Número de boletos (ejemplo):</label>
        <input type="number" id="input_2" name="boletos_input"><br><br>

        <label for="nom_novia">Nombre de la novia:</label>
        <input type="text" id="input_3" name="nom_novia"><br><br>

        <label for="nom_novio">Nombre de la novia:</label>
        <input type="text" id="input_4" name="nom_novio"><br><br>

        <label for="fecha_evento">Fecha del evento:</label>
        <input type="text" id="input_5" name="fecha_evento"><br><br>

        <label for="hora_inicio">Hora de inicio:</label>
        <input type="text" id="input_6" name="hora_inicio"><br><br>

        <label for="lugar_evento">Lugar del evento:</label>
        <input type="text" id="input_7" name="lugar_evento"><br><br>

        <label for="lugar_ceremonia">Lugar de la ceremonia:</label>
        <input type="text" id="input_8" name="lugar_ceremonia"><br><br>

        <label for="codigo_vestimenta">Código de vestimenta:</label>
        <input type="text" id="input_9" name="codigo_vestimenta"><br><br>

        <label for="link_soporte_input">Link soporte:</label>
        <input type="text" id="input_10" name="link_soporte_input"><br><br>

        <input type="radio" id="msg_conf" name="message_type" value="msg_conf" checked>
        <label for="msg_conf">Confirmación asistencia</label><br>

        <input type="radio" id="msg_conf_num" name="message_type" value="msg_conf_num">
        <label for="msg_conf_num">Confirmación número de invitados</label><br>

        <input type="radio" id="msg_info_general" name="message_type" value="msg_info_general">
        <label for="msg_info_general">Información general</label><br><br>

        <input type="submit" value="Submit">
    </form>

    {% if info_plantillas %}
    {% set message = messages[info_plantillas['message_type']] %}
    <p>
        {% set default_values = {
        'nom_invitado_input': 'Santiago',
        'boletos_input': 2,
        'nom_novia': 'Emilia',
        'nom_novio': 'Roberto',
        'fecha_evento': '27 de marzo de 2024',
        'hora_inicio': '13:00 hrs',
        'lugar_evento': 'Salón Vista Luna, Xochitepec, Morelos'
        } %}

        {% set message = messages[info_plantillas['message_type']] %}

        {% set values = info_plantillas | default(default_values) %}

        {{ message | format(
        nom_invitado_input=values['nom_invitado_input'],
        boletos_input=values['boletos_input'],
        nom_novia=values['nom_novia'],
        nom_novio=values['nom_novio'],
        fecha_evento=values['fecha_evento'],
        hora_inicio=values['hora_inicio'],
        lugar_evento=values['lugar_evento']
        ) }}
    </p>
    {% endif %}
</body>

</html>