<!DOCTYPE html>
<html>

<head>
    <title>Envío de confirmaciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Envío de confirmaciones</h1>

        <br>

        <div>
            <h2>0. Transformación de Excel a JSON</h2>
            <p>En caso de tener la base de datos en formato de Excel, selecciona el archivo para convertirlo a JSON</p>
            <p>Es importante revisar que los acentos y caracteres especiales estén de forma correcta en el archivo JSON
            </p>

            <form method="POST" action="/conv_xlsx_json" enctype="multipart/form-data">
                <label for="json_file">Cargar base de datos (.xlsx):</label>
                <input type="file" name="xlsx_file" id="xlsx_file" accept=".xlsx">
                <br>
                <button type="submit">Convertir archivo</button>
            </form>


        </div>

        <br>

        <div>
            <h2>1. Alta de información</h2>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <h3>1.1 Información del evento</h3>
                <label for="id_evento">ID del evento:</label>
                <input type="text" name="id_evento" id="id_evento" required>
                <br>

                <!-- Aquí vendrá la información de los placeholders del evento -->

                <h3>1.2 Base de datos de los invitados</h3>
                <label for="json_file">Cargar base de datos (.json):</label>
                <input type="file" name="json_file" id="json_file" accept=".json" required>
                <br>
                <button type="submit">Subir archivo</button>
            </form>
        </div>

        <br>

        <div>
            <h2>2. Envio de confirmaciones</h2>
            <form method="GET" action="/start">
                <button type="submit">Enviar confirmaciones</button>
            </form>
        </div>
    </div>
</body>

</html>