<!DOCTYPE html>
<html>
<head>
    <title>View information</title>
</head>
<body>
    <h1>View information</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Conversation_SID</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Answer_1</th>
            <th>Answer_2</th>
        </tr>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.conversation_sid }}</td>
                <td>{{ info.name }}</td>
                <td>{{ info.phone_number }}</td>
                <td>{{ info.answer_1 }}</td>
                <td>{{ info.answer_2 }}</td>
            </tr>
        {% endfor %}
    </table>

    <!-- Display Answer 1 plot -->
    <h2>Answer 1 Value Counts</h2>
    <img src="data:image/png;base64,{{ plot1_base64 }}" alt="Answer 1 Plot" />

    <!-- Display Answer 2 plot -->
    <h2>Answer 2 Value Sums</h2>
    <img src="data:image/png;base64,{{ plot2_base64 }}" alt="Answer 2 Plot" />

    <form action="/export" method="POST">
        <input type="submit" value="Export to CSV">
    </form>
    <form action="/delete_information" method="POST">
        <input type="submit" value="Delete DB information">
    </form>
</body>
</html>
